/* importing Ubuntu font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
main {
  background-color: var(--White);
  width: 100vw;
}
.side-bar {
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 5rem 5rem 5rem;
}
.container {
  background-color: var(--Cool-gray);
  display: flex;
  justify-content: center;
}
.step-and-heading {
  display: none;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  border: 1px solid var(--White);
  color: var(--White);
}
.side-bar-text {
  font-weight: 500;
}

/* utility class */
.active {
  background-color: var(--Light-blue);
  color: var(--Black);
}

.form-1-whole-content,
.form-2-whole-content,
.form-3-whole-content,
.form-4-whole-content,
.form-5-whole-content {
  position: absolute;
  width: 90%;
  top: 18%;
  background-color: var(--White);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  color: var(--Cool-gray);
}
.form-1-whole-content h3,
.form-2-whole-content h3,
.form-3-whole-content h3,
.form-4-whole-content h3 {
  font-size: 1.3rem;
  color: var(--Marine-blue);
}
.form-heading-para {
  padding: 0.5rem 0;
  line-height: 1.5;
}
.form-1-whole-content input {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--Cool-gray);
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.form-1-whole-content input:focus {
  border-color: var(--White);
  outline: 1px solid var(--Purplish-blue);
}
.label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--Marine-blue);
}
.error {
  display: none;
  color: var(--Strawberry-red);
  font-size: 0.8rem;
}
.push-error {
  display: flex;
  justify-content: space-between;
}

/* form-2 */
.form-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.arcade,
.advanced,
.pro {
  display: flex;
  border: 0.5px solid var(--Cool-gray);
  border-radius: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0rem;
  cursor: pointer;
}
.arcade:hover,
.advanced:hover,
.pro:hover {
  border-color: var(--White);
  outline: 1.5px solid var(--Purplish-blue);
}
.arcade img,
.advanced img,
.pro img {
  align-self: center;
  padding: 0.5rem;
}
.arcade .plan-title,
.advanced .plan-title,
.pro .plan-title {
  font-weight: 600;
  color: var(--Marine-blue);
}
.monthly-yearly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--Magnolia);
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.monthly-yearly label {
  width: 2.5rem;
  height: 1.2rem;
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.monthly-yearly input {
  display: none;
}
.monthly-yearly label::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--White);
  border-radius: 50%;
  margin: 5%;
  transition: 0.2s;
}
.span1 {
  color: var(--Marine-blue);
  font-weight: 500;
}
.span2 {
  color: var(--Black);
  font-weight: 500;
}
.monthly-yearly input:checked ~ label::before {
  transform: translateX(125%);
}
.monthly-yearly input:checked ~ .span1 {
  color: var(--Black);
}
.monthly-yearly input:checked ~ .span2 {
  color: var(--Marine-blue);
}
.outline-purple {
  border-color: var(--White);
  outline: 2px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}
.months {
  color: var(--Marine-blue);
}
.form-error {
  color: var(--Strawberry-red);
  font-size: 0.8rem;
  margin-top: 5px;
  display: none;
  text-align: center;
}

/* form-3 */
.form-3 {
  display: flex;
  flex-direction: column;
}
.online-service,
.larger-storage,
.customizable-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid var(--Cool-gray);
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.online-service:hover,
.larger-storage:hover,
.customizable-profile:hover {
  border-color: var(--White);
  outline: 1px solid var(--Purplish-blue);
}
.online-service .price,
.larger-storage .price,
.customizable-profile .price {
  color: var(--Purplish-blue);
  font-weight: bold;
}
.online-service .inner-div,
.larger-storage .inner-div,
.customizable-profile .inner-div {
  justify-self: flex-start;
  flex-basis: 80%;
  padding: 0 0 0 0.5rem;
}
.online-service .plan-title,
.larger-storage .plan-title,
.customizable-profile .plan-title {
  font-weight: 600;
  color: var(--Marine-blue);
}
.form-3 svg {
  padding: 0.5rem;
}
.default-svg-color {
  background-image: url(./assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.svg-color {
  background-color: var(--Purplish-blue);
  background-image: url(./assets/images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* form-4 */
.inner-form-4 {
  background-color: var(--Magnolia);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.inner-form-4 .title,
.inner-form-4 .first,
.inner-form-4 .second,
.inner-form-4 .third {
  display: flex;
  justify-content: space-between;
}
.add-on {
  padding: 0.5rem 1rem;
}
.form-4 .monthly-or-yearly {
  padding: 0.5rem 1rem 0.3rem 1rem;
  color: var(--Marine-blue);
}
.form-4 a {
  padding: 1rem;
}
.title {
  position: relative;
  margin: 1rem 0rem;
  font-weight: 600;
}
.title .price {
  font-weight: 600;
}
.title::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 2%;
  background-color: var(--Cool-gray);
  top: 120%;
  left: 5%;
  right: 5%;
}
.title .price {
  color: var(--Marine-blue);
}
.form-4 .price {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total .total-para {
  padding: 1rem;
}
.total .total-price {
  padding: 1rem 0;
  margin-right: 1rem;
  color: var(--Purplish-blue);
  font-weight: 600;
}
.change {
  text-decoration: underline;
  color: var(--Cool-gray);
  cursor: pointer;
}

/* form-5 */
.form-5-whole-content img {
  padding: 2rem 2.5rem 1rem 2.5rem;
}
.form-5-whole-content h3 {
  color: var(--Marine-blue);
}
.form-5-whole-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-5-whole-content .form-heading-para {
  font-size: 0.9rem;
}

/* buttons */
.buttons {
  position: fixed;
  width: 100%;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
  bottom: 0;
}
#next-step-1 {
  justify-self: flex-end;
  margin-right: 5%;
  margin-left: auto;
}
#next-step-1::after {
  cursor: pointer;
  position: relative;
}

.next-step {
  background-color: var(--Marine-blue);
  color: var(--White);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  margin: 1rem;
}
.go-back {
  background-color: inherit;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--Cool-gray);
  font-weight: 700;
}

/* hiding the forms initially */
.form-1-whole-content {
  display: block;
}
.form-2-whole-content {
  display: none;
}
.form-3-whole-content {
  display: none;
}
.form-4-whole-content {
  display: none;
}
.form-5-whole-content {
  display: none;
}
#go-back-2,
#next-step-2,
#go-back-3,
#next-step-3,
#go-back-4,
#next-step-4 {
  display: none;
  cursor: pointer;
  position: relative;
}
#next-step-1::after,
#go-back-2::after,
#next-step-2::after,
#go-back-3::after,
#next-step-3::after,
#go-back-4::after,
#next-step-4::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: var(--Magnolia);
  opacity: 0.3;
  top: 0;
  left: 0;
  display: none;
}
#next-step-1:hover::after,
#go-back-2:hover::after,
#next-step-2:hover::after,
#go-back-3:hover::after,
#next-step-3:hover::after,
#go-back-4:hover::after,
#next-step-4:hover::after {
  display: block;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  main {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 75%;
    border-radius: 0.5rem;
  }

  .side-bar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 0.5rem 2rem 1rem;
    margin: 0;
    color: var(--White);
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
  .step-and-heading {
    display: block;
  }
  .step-1,
  .step-2,
  .step-3,
  .step-4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 2rem;
    gap: 1rem;
  }
  .step-heading-small {
    color: var(--Pastel-blue);
    padding-bottom: 0.5rem;
  }
  .container {
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    width: 70%;
    background-color: var(--White);
  }
  .form-1-whole-content,
  .form-2-whole-content,
  .form-3-whole-content,
  .form-4-whole-content,
  .form-5-whole-content {
    position: static;
  }
  .form-1-whole-content h3 {
    font-size: 1.5rem;
    padding: 2rem 2rem 0rem 4rem;
  }
  .form-1-whole-content .form-heading-para {
    padding: 0.5rem 1rem 1rem 4rem;
  }
  .label-and-input {
    padding: 0.5rem 1rem 0rem 4rem;
    gap: 0.5rem;
  }

  /* form-2 */
  .form-2-whole-content {
    margin-right: 2rem;
  }
  .form-2-whole-content h3 {
    font-size: 1.5rem;
    padding: 0.5rem 2rem 0rem 3rem;
  }
  .form-2-whole-content .form-heading-para {
    padding: 0.5rem 1rem 1rem 3rem;
  }
  .form-2 {
    padding: 0.5rem 1rem 0rem 3rem;
    flex-direction: row;
  }
  .arcade,
  .advanced,
  .pro {
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
  }
  .arcade img,
  .advanced img,
  .pro img {
    padding: 1rem 1rem;
    align-self: flex-start;
  }
  .plan-title-price {
    padding: 0rem 1rem 0rem 1rem;
  }
  .monthly-yearly {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }

  /* form-3  and form-4*/
  .form-3-whole-content h3,
  .form-4-whole-content h3 {
    font-size: 1.5rem;
    padding: 0.5rem 2rem 0rem 3rem;
  }
  .form-3-whole-content .form-heading-para,
  .form-4-whole-content .form-heading-para {
    padding: 0.5rem 1rem 1rem 3rem;
  }
  .form-3,
  .form-4 {
    padding: 0.5rem 1rem 0rem 3rem;
    gap: 0.5rem;
  }
  .online-service,
  .larger-storage,
  .customizable-profile {
    padding: 1rem;
  }

  /* form-5 */
  .form-5-whole-content {
    padding: 8.3rem 5rem;
    height: 100%;
  }

  /* buttons */
  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #next-step-1 {
    margin-right: 15%;
    cursor: pointer;
  }
  .next-step,
  .go-back {
    padding: 0.5rem 1rem;
    text-wrap: nowrap;
    justify-content: space-around;
    margin-right: 15%;
    margin-left: 10%;
  }
}
